<?xml version="1.0"?>
<config>
    <modules>
        <Dannevang_Transfeedisplay>
            <version>0.1.0</version>
        </Dannevang_Transfeedisplay>
    </modules>
    <global>
        <blocks>
            <transfeedisplay>
                <class>Dannevang_Transfeedisplay_Block</class>
            </transfeedisplay>
        </blocks>
        <helpers>
            <transfeedisplay>
                <class>Dannevang_Transfeedisplay_Helper</class>
            </transfeedisplay>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <dannevang_transfeedisplay>
                    <file>dannevang/transfeedisplay.xml</file>
                </dannevang_transfeedisplay>
            </updates>
        </layout>
        <translate>
            <modules>
                <Dannevang_Transfeedisplay>
                    <files>
                        <default>Dannevang_Transfeedisplay.csv</default>
                    </files>
                </Dannevang_Transfeedisplay>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <dannevang_transfeedisplay>
                    <file>dannevang/transfeedisplay.xml</file>
                </dannevang_transfeedisplay>
            </updates>
        </layout>
        <translate>
            <modules>
                <Dannevang_Transfeedisplay>
                    <files>
                        <default>Dannevang_Transfeedisplay.csv</default>
                    </files>
                </Dannevang_Transfeedisplay>
            </modules>
        </translate>
    </adminhtml>
</config>